.orangeLetter{
    font-weight: bold;
    color: #FFA500;
}
.redBorder{
    border: 2px solid red;
}

.greenBorder{
    border: 2px solid #22f553;
}
.hideText{
  display: none;
}

.showText{
  display: block;
}
.rSuccessful{
    font-size: 16px;
    color: #22f553;
    margin-left: 10px;
}
#btnReservation{
    font-weight: bold;
    border: 2px solid #FFA500;
}
#btnReservation:hover{
    font-weight: bold;
    border: 2px solid #fff;
}

.border-orange{
    border: 1px solid #FFA500;
}

.mu-restaurant-menu li a:hover{
    border-bottom: 1px solid #FFA500;
}

.mu-restaurant-menu li a{
    border-radius: 5%;
}

.pErrors{
    display: none;
    background-color: #fa847d;
    color:#ab0f05;
    padding: 3%;
}
.displayBlock{
    display: block;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1011;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.d-none {
    display: none;
}

.form-check-input {
    width: 15%;
    height: 20px;
}
.genders {
    margin: 20px 0;
}
.gender {
    display: flex;
}

.gender span {
    width: 10%
}